.container{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    left: 25%;
    top:100px;
}
img{
    width: 800px;
    height: 700px;
}

h1{
  margin-bottom: 100px;
  font-family: "Sofia", sans-serif;
  font-size: 70px;
  color: brown;
  align-items: center;
}
#name{
  position: absolute;
  left: 850px;
  top: -50px;
}
#exit{
  background-color:rgba(9, 10, 110);
  color: white;
  left: 350px;
  font-size: 25px;
}

#pause{
  position: absolute;
  right: 250px;
  width: 180px;
  background-color: yellow;
  font-size: 25px;
}
#start{
  position: absolute;
  left:170px;
  background-color: rgb(14, 202, 14);
  font-size: 20px;
}

.buttons{
  right: 800px;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit; 
}
.button.learn-more {
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #202121;
  padding: 1.25rem 2rem;
  background: #fff;
  text-transform: uppercase;
}
.button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
  letter-spacing: 0.125rem;
}

/*#region border*/
  
  a {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    padding: 0.5em 2em;
    cursor: pointer;
    overflow: hidden;
  }
  .btn:before, .btn:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #252525;
  }
  .btn:before {
    top: 0;
  }
  .btn:after {
    bottom: 0;
  }
  .btn:hover > * > *:before, .btn:hover > * > *:after {
    transform: translate3d(0, 0, 0);
  }
  .btn:hover > * > * > *:before, .btn:hover > * > * > *:after {
    transform: translate3d(0, 0, 0);
  }
  .btn > *:before, .btn > *:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #252525;
  }
  .btn > *:before {
    left: 0;
  }
  .btn > *:after {
    right: 0;
  }
  .btn > * > *:before, .btn > * > *:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 9;
    height: 8px;
    width: 100%;
    background-color: #168dff;
  }
  .btn > * > *:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > *:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > * > *:before, .btn > * > * > *:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 8px;
    background-color: #16a2ff;
  }
  .btn > * > * > *:before {
    left: 0;
    transform: translate3d(0, 105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn > * > * > *:after {
    right: 0;
    transform: translate3d(0, -105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
/*#endregion*/
