/*#region Button */
.button {
    display: inline-block;
    border-radius: 4px;
    /* background-color: #800000; */
    border: none;
    color: #FFFFFF; 
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow);
    text-align: center;
    font-size: 26px;
    padding: 20px;
    width: 300px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  } */
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  /*#endregion */

  body{
    background-color: black;
  }
  .container{
    position: relative;
  }
  .center{
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 28px;
  }
  #welcome{
    margin-bottom: 200px;
    font-family: "Sofia", sans-serif;
    font-size: 100px;
  }
/*#region welcome zoom */
  * {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 50px;
    transition: transform .2s;
    width: 800px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
    /*#endregion */
